.overlay{
    height: "1000px"; 
    width: "1500px";
    margin-top: 75px;
    top: -60px;
    left: 15px;
    position: absolute;
    
}
.container{
    position: relative;;
}
/* .vidContainer faceVideo{
    position: absolute;
    z-index: 0;
    margin-top: 25px;
} */
#faceVideo {
    margin-bottom: 20px;
}
​
#vid-overlay {
    margin-top: 50px;
}

#interiorImg {
    width: 1000px;
    height: 600px;
    justify-content: center;
    margin-left: 135px;
}

.react-player {
    margin-bottom: 100px;
    z-index: 0;
    margin-top: 100px;
    margin-left: 150px;

    
}