.overlay{
    height: "600px"; 
    width: "1000px";
    margin-top: 75px;
    margin-bottom: 75px;
    
}
.container{
    position: relative;
}
.vidContainer faceVideo{
    position: relative;
    z-index: 0;
    margin-top: 25px;
}
.overlay {
    position: absolute;
    top: 0px;
    left: 15px;
    z-index: 10;
}
​
#faceVideo {
    margin-bottom: 20px;
}
​
#vid-overlay {
    margin-top: 50px;
}

#interiorImg {
    width: 1000px;
    height: 640px;
}