.col-md-8 {
    border-right: solid thin;
}

.bottom-page {
    background-color: #333333;
    width: 100%;
    position: fixed;
    padding: 20px;
    bottom: 0px;
}

#copyright {
    color: lightgrey;
    padding-top: 20px;
    text-align: center;
    font-size: small;
}

#logo {
    height: 50px;
    width: 200px;
}
/* Button colors here: */
#red-btn, #white-btn, #lightblue-btn, #skyblue-btn, #blue-btn {
    height: 50px;
}
.color-btns {
    background-color: transparent;
    border: none;
    border-radius: 100%;
}
#car {
    height: 400px;
    width: 800px;
}
#rim2img {
    height: 80px;
}
#rim1img {
    height: 90px;
} 
#rim3img {
    height: 80px;
} 
#rim4img {
    height: 80px;
} 
#rim5img {
    height: 80px;
} 
#rimTwo, #rimOne {
    background-color: transparent;
    border: none;
}
