.col-md-8 {
    background-color: lightgrey;
}

.bottom-page {
    background-color: #333333;
    width: 100%;
    position: fixed;
    padding: 20px;
    bottom: 0px;
}

#copyright {
    color: lightgrey;
    padding-top: 20px;
    text-align: center;
    font-size: small;
}

#logo {
    height: 50px;
    width: 200px;
}
/* Button Colors Here */
#red, #lightBlue, #blue, #skyBlue, #yellow, #black, #white {
    border-radius: 100%;
    height: 50px;
    width: 50px;
}
#red {
    background-color: red;
}
#lightBlue {
    background-color: lightblue;
}
#blue {
    background-color: blue;
}
#skyBlue {
    background-color: lightskyblue;
}
#yellow {
    background-color: yellow;
}
#black {
    background-color: black;
}
#white {
    background-color: white;
}
#car {
    height: 400px;
    width: 800px;
}
#scrollWindow {
    overflow: auto;
    white-space: nowrap;
}